# ./.env
# for our development environment variable

# .Net Core
DOTNET_ENVIRONMENT=Development
ASPNETCORE_ENVIRONMENT=Development

# Databases Settings
# MariaDB
MARIADB_HOST=mariadb
MARIADB_PORT=3306
MARIADB_USERNAME=root
MARIADB_PASSWORD=root

# Database Name
MARIADB_DATABASE_NAME=codezero
